.post-with-image .title {
	font-size: 20px;
	padding: 15px 10px;
	font-weight: bold;
}

.image-post {
	width: 25%;
	float: left;
}

.image-post .inner {
	margin: 1%;
	padding-bottom: 20px;
	background: #ffffff;
}

.image-post .inner img {
	width: 100%;
}

.image-post .inner .subject-wrapper {
	padding: 15px 15px 0 15px;
}

.image-post .inner .subject {
	font-weight: bold;
	text-align: left;
	height: 15px;
	line-height: 140%;
	overflow: hidden;
}

.image-post .subject a {
	color: #444444;
}

.image-post .inner .forum-name-wrapper {
	padding: 10px 20px;
}

.image-post .inner .forum-name {
	font-weight: bold;
	text-align: left;
	height: 20px;
	line-height: 140%;
	overflow: hidden;
	font-size: 15px;
}

.image-post .inner .content-wrapper {
	padding: 15px 15px 0 15px;
	background: #ffffff;	
}

.image-post .inner .content-wrapper .content {
	height: 30px;
	line-height: 140%;
	overflow: hidden; 	
}

.image-post .content a {
	color: #444444;
}
